.bio {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    border-radius: 50%;
    margin-bottom: 0px;
}

.bio a {
    text-decoration: none;
    color: var(--white-2);
    font-weight: bold;
}

.desc a {
    text-decoration: none;
    color: var(--white-2);
    font-weight: bold;
}

.bio a:hover {
    text-decoration: underline;
}

.desc a:hover {
    text-decoration: underline;
}

.bio .bio-wrapper {
    margin-left: 1rem;
}

.bio .bio-wrapper .contact-wrapper {
    display: flex;
}

.bio .bio-wrapper .contact-wrapper img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    vertical-align: down;
}

.bio .bio-wrapper .contact-wrapper p {
    margin-right: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
}

.bio .pfp {
    border-radius: 50%;
    max-width: 100px;
}
